<header class="flex flex-row justify-between items-center">
    <a href="index.html">
        <img class="rounded-lg animate-pulse" src="../src/assets/images/logo.jpg" alt="logo" width="50" height="50" href="./index.html" />
    </a>
    <ul class="flex flex-row font-mono pt-5 mb-0.5 gap-3 font-semibold text-primary text-base">
        <li class="flex flex-row uppercase  hover:text-secondary">
            <a href="./participants.html">participantes</a>
        </li>
        <li class=" flex flex-row uppercase  hover:text-secondary">
            <a href="./news.html">noticias</a>
        </li>
    </ul>
    </nav>
</header>