<header>
    <a href="index.html">
        <img src="../src/assets/images/logo.jpg" alt="logo" width="50" height="50" href="./index.html" />
    </a>
    <ul class="flex-row font-mono pt-5 font-semibold text-red-600">
        <li class="flex uppercase  hover:text-red-700">
            <a href="./participants.html">participantes</a>
        </li>
        <li class="flex uppercase  hover:text-red-700">
            <a href="./news.html">noticias</a>
        </li>
        <!--
                    <li class="nav-item" id="nav-link-contact">
                        <a class="nav-link" href="./contact.html"
                            ><span style="font-size: 1em; color: #d90429"
                                ><i
                                    class="fa-solid fa-champagne-glasses"
                                ></i></span
                            >contacto</a
                        >
                    </li>
                    -->
    </ul>
    </nav>
</header>