<form>
    <div class="mb-3">
        <label for="formGroupExampleInput" class="form-label">Nombre</label>
        <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Nombre">
      </div>
      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Correo Electrónico</label>
        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="ejemplo@dominio.com">
      </div>
        <div>
                 No vamos a mandarte nada de spam
        </div>
    </div>
    <button>Subscribir Newsletter</button>
</form>
